{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Internship Status</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'HPadmin.css' %}" /> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    
    <style>
        .offcanvas-body {
            height: 100%; 
        }
        .navbar-toggler:focus {
            box-shadow: none !important;
        }
        .form-container {
            width: 100%;
        }
        .content-wrapper {
            max-width: 880px; 
            margin: auto;
        }
        .arrow-wrapper {
            padding-top: 0; 
            margin-right: -25px; 
            display: flex;
            align-items: center; 
        }
        .form-container .p-4, .form-container .p-md-5 {
            padding-top: 20px !important;
        }
    </style>
</head>
<body>
    <nav class="navbar fixed">
        <div class="container-fluid">
            
            <a class="navbar-brand ms-5" href="{% url 'hp_mahasiswa' %}">
                <img src="{% static 'images/Logo-STEM-White.png' %}" alt="Logo STEM" style="width: auto; height: 50px;">
            </a>
            
            <div class="d-flex align-items-center ms-auto">
                
                {% if coop_status == 'NOT_REGISTERED' %}
                <a href="{% url 'regist_coop' %}" class="btn btn-sm btn-primary me-3 d-none d-sm-block">Register Co-Op</a>
                {% endif %}
                
                <button class="navbar-toggler border-0" type="button" 
                        data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" 
                        aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    
                    <i class="bi bi-person-circle" style="font-size: 35px; color: white"></i>
                    
                </button>
                
            </div>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                
                <div class="offcanvas-header">
                    <div class="d-flex align-items-center flex-grow-1">
                        <i class="bi bi-person-circle me-3" style="font-size: 35px; color: black"></i>
                        
                        <div class="d-flex flex-column justify-content-center me-auto">
                            
                            {% if mahasiswa_data %}
                            <h6 class="offcanvas-title fw-bold mb-0" id="offcanvasNavbarLabel" style="font-size: 15px;">
                                {{ mahasiswa_data.user.get_full_name|default:mahasiswa_data.user.email }}
                            </h6>
                            <span class="text-muted small">NIM: {{ mahasiswa_data.nim }}</span>
                            {% else %}
                            <h6 class="offcanvas-title fw-bold mb-0" id="offcanvasNavbarLabel" style="font-size: 12px;">
                                {{ user_data.email }}
                            </h6>
                            <span class="text-muted small">Mahasiswa</span>
                            {% endif %}
                            
                        </div>
                        
                        {% if mahasiswa_data %}
                            <a href="{% url 'student_detail' nim=mahasiswa_data.nim %}" class="text-secondary text-decoration-none hover-underline me-2">See detail</a>
                        {% endif %}
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                
                <div class="offcanvas-body d-flex flex-column">
                    <div class="flex-grow-1 p-3">
                        {% if coop_status == 'NOT_REGISTERED' %}
                            <a href="{% url 'regist_coop' %}" class="btn btn-primary w-100 mb-2">Register Co-Op</a>
                        
                        {% elif coop_status == 'REGISTERED' %}
                            <a href="{% url 'application_status' %}" class="btn btn-outline-primary w-100 mb-2" disabled>Application Status</a>
                            <a href="{% url 'updateinternstat' %}" class="btn btn-outline-primary w-100 mb-2">Update Internship Status</a>
                        
                        {% elif coop_status == 'ON_INTERNSHIP' %}
                            <a href="{% url 'fill_weekly_report' %}" class="btn btn-primary w-100 mb-2">Fill Weekly Report</a>
                            <a href="{% url 'submit_final_report' %}" class="btn btn-primary w-100 mb-2">Submit Final Report</a>
                            <button class="btn btn-outline-secondary w-100 mb-2" disabled>Download Co-Op Certificate</button>
                        
                        {% elif coop_status == 'FINISHED' %}
                            <a href="{% url 'fill_weekly_report' %}" class="btn btn-outline-secondary w-100 mb-2 disabled">Fill Weekly Report</a>
                            <a href="{% url 'submit_final_report' %}" class="btn btn-primary w-100 mb-2">Submit Final Report</a>
                            <a href="{% url 'download_certificate' %}" class="btn btn-outline-success w-100 mb-2">Download Co-Op Certificate</a>
                        
                        {% endif %}
                        
                        <div class="mt-4 pt-2 border-top">
                            <a href="{% url 'send_mail' %}" class="btn btn-outline-info w-100">
                                <i class="bi bi-envelope-fill me-2"></i> Send Email to Kaprodi and Mentor
                            </a>
                        </div>
                        
                    </div>
                    </div>
                    <div class="w-100 d-flex justify-content-end mb-3">
                        <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
    </nav>
    <div class="container py-4">
        
        <div class="row content-wrapper">
            
            <div class="col-1 d-none d-md-block arrow-wrapper">
                 <a href="javascript:history.back()" class="text-dark">
                    <i class="bi bi-arrow-left" style="font-size: 2rem;"></i>
                </a>
            </div>

            <div class="col-12 col-md-11">
                <div class="form-container bg-white p-4 p-md-5 shadow-sm rounded">
                    
                    <a href="javascript:history.back()" class="text-dark d-md-none mb-3 d-inline-block">
                        <i class="bi bi-arrow-left" style="font-size: 1.5rem;"></i>
                    </a>

                    <h2 class="fw-bold mb-1">Update Internship Status</h2>
                    
                    <hr class="mb-4">

                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="id_start_date" class="form-label">Start Date</label>
                                <input type="date" class="form-control" id="id_start_date" name="start_date" required>
                            </div>
                            <div class="col-md-6">
                                <label for="id_end_date" class="form-label">End Date</label>
                                <input type="date" class="form-control" id="id_end_date" name="end_date" required>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-6">
                                <label for="id_posisi" class="form-label">Posisi Magang</label>
                                <input type="text" class="form-control" id="id_posisi" name="posisi" required>
                            </div>
                            <div class="col-md-6">
                                <label for="id_proof_acceptance" class="form-label">Upload Bukti Penerimaan</label>
                                <input class="form-control" type="file" id="id_proof_acceptance" name="proof_acceptance" accept=".pdf" required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="id_company_name" class="form-label">Nama Perusahaan</label>
                                <input type="text" class="form-control" id="id_company_name" name="company_name" required>
                            </div>
                            <div class="col-md-6">
                                <label for="id_company_bidang" class="form-label">Bidang Usaha Perusahaan</label>
                                <input type="text" class="form-control" id="id_company_bidang" name="company_bidang" required>
                            </div>
                        </div>
                        
                        <div class="mb-4">
                            <label for="id_company_address" class="form-label">Alamat Perusahaan</label>
                            <textarea class="form-control" id="id_company_address" name="company_address" rows="3" required></textarea>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="id_supervisor_name" class="form-label">Nama Supervisor</label>
                                <input type="text" class="form-control" id="id_supervisor_name" name="supervisor_name" required>
                            </div>
                            <div class="col-md-6">
                                <label for="id_supervisor_email" class="form-label">Email Supervisor</label>
                                <input type="email" class="form-control" id="id_supervisor_email" name="supervisor_email" required>
                            </div>
                        </div>
                        
                        <div class="mb-4">
                            <label for="id_supervisor_phone" class="form-label">Kontak WA Supervisor (Optional)</label>
                            <input type="text" class="form-control" id="id_supervisor_phone" name="supervisor_phone">
                        </div>

                        <button type="submit" class="btn btn-primary w-100">Submit</button>
                    </form>
                    
                </div>
            </div>
            
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>