body{ 
    height: 100%; 
    margin: 0; 
    background-color: #ED1B24;
}

.login-box { 
    width: 90%; 
    max-width: 700px;
    border: 1px solid #dee2e6; 
    border-radius: 10px;
    overflow: hidden;
}

.login-box button{
    border-radius: 10px;
    font-size: 15px;
}